<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos Spring</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem nihil, fugiat natus sequi quisquam at hic. Voluptatum repudiandae iusto velit sint obcaecati aliquam eveniet libero. Officiis molestiae sint velit laudantium!</p>
</body>
</html>